@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.projects .parent {
  @apply flex gap-4;
}

.projects .parent:not(:nth-last-child) {
  @apply mb-4;
}

.projects .parent:nth-child(odd) {
  @apply flex-row;
}

.projects .parent:nth-child(even) {
  @apply flex-row-reverse;
}

.projects .parent img {
  @apply rounded-xl;
}

.projects .parent .child {
  @apply flex flex-col max-w-1/3;
}

.projects .parent:nth-child(odd) .child {
  @apply text-right;
}

.projects .parent:nth-child(even) .child {
  @apply text-left;
}